<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador">
        <div id="contenedor-logo">
          <img id="logo" width: "240" src="/logo-mercado-liebre.svg" />
        </div>
        <div id="contenedor-buscador">
          <input type="text" placeholder="Buscar productos..." id="buscador" />
        </div>
      </div>
      <div id="subtitulo">
        <p>
          <i class="fas fa-hand-holding-usd iconos"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <nav>
        <div class="barra-navegacion">
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <br />
        <div class="barra-navegacion">
          <ul>
            <li>
              <a href="#">Creá tu cuenta</a
              ><i class="fas fa-id-card iconos"></i>
            </li>
            <li>
              <a href="#">Ingresá</a><i class="fas fa-sign-in-alt iconos"></i>
            </li>
            <li>
              <a href="#">Mis compras</a
              ><i class="fas fa-shopping-basket iconos"></i>
            </li>
          </ul>
        </div>
      </nav>
      <br />
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <div id="contenedor-banner">
        <img id="banner" src="img-home-banner.jpg" />
      </div>
    </header>
    <main>
      <section class="ultimas-visitas">
        <div>
          <h2>Basado en tu última visita</h2>
        </div>
        <article class="productos">
          <img src="/img-cafetera-moulinex.jpg" />
        </article>
        <article class="productos">
          <img src="/img-macbook-pro-2019.jpg" />
        </article>
        <article class="productos">
          <img src="/img-samsung-galaxy-s10.jpg" />
        </article>
        <article class="productos">
          <img src="/img-tv-samsung-smart.jpg" />
        </article>
      </section>
      <section class="ofertas">
        <div>
          <h2>Ofertas</h2>
        </div>
        <article class="productos">
          <img src="/img-cafetera-moulinex.jpg" />
        </article>
        <article class="productos">
          <img src="/img-macbook-pro-2019.jpg" />
        </article>
        <article class="productos">
          <img src="/img-samsung-galaxy-s10.jpg" />
        </article>
        <article class="productos">
          <img src="/img-tv-samsung-smart.jpg" />
        </article>
      </section>
    </main>

    <footer>
      <section class="beneficios">
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="beneficios">
        <h3>Envío gratis desde $2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="beneficios">
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section id="copyright"></section>
    </footer>
  </body>
</html>
