<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador">
        <img
          width="120"
          src="/images/logo-mercado-liebre.svg"
          alt="Mercado Liebre logo"
          class="logo"
        />
        <input
          type="text"
          placeholder="Buscar productos..."
          class="buscador box"
        />
        <!-- <button type="submit" id="searchbutton">
            <i class="fa fa-search search"></i>
          </button> -->
      </div>
      <br />
      <div class="subtitulo-card">
        <i class="fas fa-hand-holding-usd iconos-nav"></i>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <br />
      <nav class="menu">
        <div class="opciones-card">
          <a href="#" class="enlaces">Ofertas</a>
        </div>
        <div class="opciones-card">
          <a href="#" class="enlaces">Tiendas Oficiales</a>
        </div>
        <div class="opciones-card">
          <a href="#" class="enlaces">Vender</a>
        </div>
        <div class="opciones-card">
          <a href="#" class="enlaces">Ayuda</a>
        </div>
        <br />
        <div class="opciones-card">
          <a href="#" class="enlaces">Creá tu cuenta</a>
          <i class="fas fa-id-card iconos-nav"></i>
        </div>
        <div class="opciones-card">
          <a href="#" class="enlaces">Ingresá</a>
          <i class="fas fa-sign-in-alt iconos-nav"></i>
        </div>
        <div class="opciones-card">
          <a href="#" class="enlaces">Mis compras</a>
          <i class="fas fa-shopping-cart iconos-nav"></i>
        </div>
        <br />
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
      <br />
    </header>
    <main>
      <section class="ultimas-visitas">
        <h3>Basado en tu última visita</h3>
        <article class="productos box">
          <img
            width="240"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <!-- <strong>Cafetera Moulinex</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>
          <!-- <strong>MacBook Pro 2019</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>
          <!-- <strong>Samsung Galaxy S10</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-tv-samsung-smart.jpg"
            alt="SamartTv Samsung 43"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>
          <!-- <strong>SmartTv Samsung 43"</strong> -->
        </article>
      </section>
      <section class="ofertas">
        <h3>Ofertas</h3>
        <article class="productos box">
          <img
            width="240"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <!-- <strong>Cafetera Moulinex</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% OFF</p>
          </div>
          <!-- <strong>MacBook Pro 2019</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% OFF</p>
          </div>
          <!-- <strong>Samsung Galaxy S10</strong> -->
        </article>
        <br />
        <article class="productos box">
          <img
            width="240"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Cafetera Moulinex"
          />
          <hr />
          <div class="precio-dcto-card">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% OFF</p>
          </div>
          <!-- <strong>SmartTv Samsung 43"</strong> -->
        </article>
      </section>
    </main>
    <br />
    <br />

    <section class="beneficios-card">
      <br />
      <br />
      <div>
        <i class="fas fa-credit-card iconos"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p class="grids">
          Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <br />
      <br />
      <div>
        <i class="fas fa-gift iconos"></i>
        <h4>Envío gratis desde los $2.500</h4>
        <p class="grids">
          Sólo por estar registrado en MercadoLiebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <br />
      <br />
      <div>
        <i class="fas fa-user-shield iconos"></i>
        <h4>Seguridad de principio a fin</h4>
        <p class="grids">
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estás siempre protegid@.
        </p>
      </div>
      <br />
      <br />
    </section>
    <footer>
      <section>
        <p id="copyright">Copyright (c) 1999-2021 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
