<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador">
        <div id="logo">
          <img src="/logo-mercado-liebre.svg" />
        </div>
        <div id="buscador">
          <input
            type="text"
            placeholder="Buscar productos, marcas y mas..."
            class="buscador box"
          />
        </div>
      </div>
      <div id="subtitulo">
        <p><i class="fas fa-bars"></i>SUBTITULO</p>
      </div>
      <nav>
        <div class="barra-navegacion">
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <div class="barra-navegacion">
          <ul>
            <li><a href="#">Crea tu cuenta</a><i class="fas fa-bars"></i></li>
            <li><a href="#">Ingresa</a><i class="fas fa-bars"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-bars"></i></li>
          </ul>
        </div>
      </nav>
      <div id="banner"><img src="img-home-banner.jpg" /></div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section class="ultimas-visitas">
        <article class="productos">
          <img src="/img-cafetera-moulinex.jpg" />
        </article>
        <article class="productos">
          <img src="/img-macbook-pro-2019.jpg" />
        </article>
        <article class="productos">
          <img src="/img-samsung-galaxy-s10.jpg" />
        </article>
        <article class="productos">
          <img src="/img-tv-samsung-smart.jpg" />
        </article>
      </section>
      <section class="ofertas">
        <article class="productos">
          <img src="/img-cafetera-moulinex.jpg" />
        </article>
        <article class="productos">
          <img src="/img-macbook-pro-2019.jpg" />
        </article>
        <article class="productos">
          <img src="/img-samsung-galaxy-s10.jpg" />
        </article>
        <article class="productos">
          <img src="/img-tv-samsung-smart.jpg" />
        </article>
      </section>
    </main>

    <footer>
      <section class="beneficios">
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="beneficios">
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="beneficios">
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section id="copyright"></section>
    </footer>
  </body>
</html>
