<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador">
        <div class="nuevo-div-logo">
          <img id="logo" src="/logo-mercado-liebre.svg" />
          <input type="text" placeholder="Buscar productos..." id="buscador" />
        </div>
        <div id="subtitulo">
          <i class="fas fa-hand-holding-usd iconos-nav"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </div>
      <nav>
        <div class="barra-navegacion">
          <ul class="menu-izq">
            <li>
              <a href="#">Ofertas</a>
            </li>
            <li>
              <a href="#">Tiendas Oficiales</a>
            </li>
            <li>
              <a href="#">Vender</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
          <ul class="menu-der">
            <li>
              <a href="/registro">Creá tu cuenta</a>
              <i class="fas fa-id-card iconos-nav"></i>
            </li>
            <li>
              <a href="/login">Ingresá</a>
              <i class="fas fa-sign-in-alt iconos-nav"></i>
            </li>
            <li>
              <a href="#">Mis compras</a>
              <i class="fas fa-shopping-basket iconos-nav"></i>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <section class="contenedor-pagina-registro">
        <form action="/login" method="POST">
          <div class="formulario-pagina-registro">
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" name="usuario" id="usuario" required />
          </div>
          <div class="formulario-pagina-registro">
            <label for="passwordUsuario">Contraseña</label>
            <input
              type="password"
              name="passwordUsuario"
              id="passwordUsuario"
              required
            />
          </div>
          <div class="formulario-pagina-registro">
            <div class="contenedor-botones-registro">
              <button type="submit">Ingresar</button>
            </div>
          </div>
        </form>
      </section>
    </main>

    </main>
    <br />
    <footer>
      <div class="contenedor-beneficios">
        <section class="beneficios">
          <i class="fas fa-credit-card iconos-beneficios"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="beneficios">
          <i class="fas fa-gift iconos-beneficios"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="beneficios">
          <i class="fas fa-user-shield iconos-beneficios"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section id="copyright">
        <p>Hecho con mucha paciencia y amor (c) @ 2018 - 2021</p>
      </section>
    </footer>
  </body>
</html>
