<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="logo-buscador">
        <div class="nuevo-div-logo">
          <img id="logo" src="/logo-mercado-liebre.svg" />
          <form class="buscador-boton" action="/search" method="POST">
            <input
              type="text"
              placeholder="Buscar productos..."
              id="buscador"
            />
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div id="subtitulo">
          <i class="fas fa-hand-holding-usd iconos-nav"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </div>
      <nav>
        <div class="barra-navegacion">
          <ul class="menu-izq">
            <li>
              <a href="#">Ofertas</a>
            </li>
            <li>
              <a href="#">Tiendas Oficiales</a>
            </li>
            <li>
              <a href="#">Vender</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
          <ul class="menu-der">
            <li>
              <a href="/registro">Creá tu cuenta</a>
              <i class="fas fa-id-card iconos-nav"></i>
            </li>
            <li>
              <a href="/login">Ingresá</a>
              <i class="fas fa-sign-in-alt iconos-nav"></i>
            </li>
            <li>
              <a href="#">Mis compras</a>
              <i class="fas fa-shopping-basket iconos-nav"></i>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <section class="contenedor-pagina-registro">
        <form action="/registro" method="POST">
          <div class="formulario-pagina-registro">
            <label for="nombreApellido">Nombre y Apellido</label>
            <input
              type="text"
              name="nombreApellido"
              id="nombreApellido"
              required
            />
          </div>
          <div class="formulario-pagina-registro">
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" name="usuario" id="usuario" required />
          </div>
          <div class="formulario-pagina-registro">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input
              type="date"
              name="fechaNacimiento"
              id="fechaNacimiento"
              required
            />
          </div>
          <div class="formulario-pagina-registro">
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" required />
          </div>
          <div class="formulario-pagina-registro">
            <label for="perfil">¿Vendedor o Comprador?</label>
            <select name="perfil" required>
              <option value="Vendedor">Vendedor</option>
              <option value="Comprador">Comprador</option>
            </select>
          </div>
          <div class="formulario-pagina-registro">
            <label for="categoriaInteres" class="categoriaInteres"
              >Categoría/s de Interés</label
            >
            <div class="contenedor-categoria-interes">
              <div class="contenedor-flex-interes">
                <input type="checkbox" name="categoriaInteres" value="Electro"/>
                Electro
              </div>
              <div class="contenedor-flex-interes">
                <input type="checkbox" name="categoriaInteres" value="Moda" /> Moda
              </div>
              <div class="contenedor-flex-interes">
                <input type="checkbox" name="categoriaInteres" value="Hogar" /> Hogar
              </div>
              <div class="contenedor-flex-interes">
                <input type="checkbox" name="categoriaInteres" value="Jugueteria" />
                Juguetería
              </div>
              <div class="contenedor-flex-interes">
                <input type="checkbox" name="categoriaInteres" value="Vida Sana" />
                Vida Sana
              </div>
              
            </div>
          </div>
          <div class="formulario-pagina-registro">
            <label for="foto">Foto de Perfil</label>
            <input
              type="file"
              name="foto"
              id="foto"
              accept=".jpg"
            />
          </div>
          <div class="formulario-pagina-registro">
            <label for="passwordUsuario">Contraseña</label>
            <input
              type="password"
              name="passwordUsuario"
              id="passwordUsuario"
              required
            />
          </div>
          <div class="formulario-pagina-registro">
            <label for="confirmarPassword">Confirmá tu contraseña</label>
            <input
              type="password"
              name="confirmarPassword"
              id="confirmarPassword"
              required
            />
          </div>
          <div class="formulario-pagina-registro">
            <div class="contenedor-botones-registro">
              <button type="reset" name>Cancelar</button>
              <button type="submit">Crear usuario</button>
            </div>
          </div>
        </form>
      </section>
    </main>

    </main>
    <br />
    <footer>
      <div class="contenedor-beneficios">
        <section class="beneficios">
          <i class="fas fa-credit-card iconos-beneficios"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="beneficios">
          <i class="fas fa-gift iconos-beneficios"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="beneficios">
          <i class="fas fa-user-shield iconos-beneficios"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section id="copyright">
        <p>Hecho con mucha paciencia y amor (c) @ 2018 - 2021</p>
      </section>
    </footer>
  </body>
</html>
