* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Main */

body {
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
}

/* Modificadores de texto */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:active:visited {
  text-decoration: none;
}

p {
  font-size: 12px;
}

p.precios {
  font-size: 18px;
}

p.descuentos {
  font-size: 16px;
}

p.descripciones {
  font-size: 16px;
}

h3 {
  font-size: 24px;
}

/* Modificadores de imagenes */

#logo {
  width: 240px;
}

.burger-menu {
}

/* Modificadores especificos */

.beneficios h3 {
  background-color: gray;
}

.beneficios p {
  color: yellow;
}

.logo-buscador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#buscador {
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/
